#menu{
	height: 20px;
    border: 2px solid darkgreen;
}
.min-height-content {
    min-height: 600px;
}
.content{
	text-align:center; 
	margin:0 auto;
}
.actions, #content{
    /*margin-top: -25px;*/
    /*margin-top: -50px;
	border:solid #666 1px;*/



	/*border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
	padding: 0 1%;*/
}
li.action{
    list-style-type: none;
    margin: 0 0 13px 0;
}
li.action a{
    border: solid darkred 1px;
    display: block;
    border-radius: 20px;
    /*background-color: aliceblue;*/
    margin: 0 0 13px 0;
    background-color:#CF3;
    background: linear-gradient(to top, #D4BF55 0%, #fff 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(#FFDFAA), to(#fff));
    text-decoration: none;
    overflow:hidden;
    padding: 10px;
}
li.action a:hover{

    background: linear-gradient(to top, #D4BF55 0%, #fff 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(#ffd77b), to(#fbfbfb));
}
.action-content
{
	border: solid #666 1px;
	margin: 0 0 13px 0;	
	border-radius: 20px;
	/*background: #FBFBFB;*/
	background-color:#CF3;
    background: linear-gradient(to top, #D4BF55 0%, #fff 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(#FFDFAA), to(#fff));
	overflow:hidden;
}
.action-content a
{
    text-decoration: none;
}
.actions-menu
{
	padding: 20px 80px;
}
.actions-menu button
{
	float: right;
	width: 200px;
}
.actions-menu h3
{
	float: left;
	margin:0;
}

/*
action page, code for page with sectors
*/
.div-sector-main {
	height:auto;
	width: 760px;
}
.div-sectors {
	height: auto;
}
.div-sectors ul li{
	float: left;
	list-style-type: none;
	width: 76px;
	height: 60px;
	margin: 2px;
	border-radius: 7px;
	border:solid #333 1px;
		}
.div-sectors ul li a{
	background-color:#CF3;
    background: linear-gradient(to top, transparent 0%, #fff 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
	float: left;
	list-style-type: none;
	width: 76px;
	height: 60px;
	border-radius: 7px;
	line-height: 60px;
	text-decoration:none;
		}
.div-sectors ul li a:hover{
    /*
	background: linear-gradient(to top, #fff 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
	*/
	box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.3);
		}
.div-sectors ul{margin: 13px 0 13px 0; padding: 0;}

.sector-number {
	font-size: 30px;
}
.sector-text {
	float:left;
}
ul.sector-text li{
	width:142px;
}
ul.sector-text li a{
	width:142px;
	font-size:18px;
}
.transparent-div {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	padding: 10px;
	margin: 40px 10px;
}

/*
css for Sector page
show or drawing rows and seats page
*/
.checked{
    background-color: #87ff6f !important;
}
.div-button {
    text-align: right;
    margin: 15px 0px;
    line-height: 10px;
}
.div-button a{
    text-decoration: none;
    border: solid darkred 1px;
    border-radius: 5px;
    background-color: #FFDFAA;
    padding: 5px;
    margin: 5px 0px;
}
.div-button h2{
    float: left;
    margin: 0px;
    color: #333333;
}
#oneAction h2{
    float: left;
    color: #333333;
    overflow: hidden;
    width: 300px;
    margin: 0px 10px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}
.footer-group {
    text-align: center;
    font-weight: bold;
}
span.details{

}