.pricing-sectors-table{	
	margin:50px auto;
	width: 90%;
	border:none;
	border-spacing:4px;
	border-collapse:separate;
}

.pricing-sectors-table td{

	width:13%;
	height:0;
	text-align: center;	
	border-radius: 10px;
	font:35px Helvetica, arial, serif;
	color: #fff;

    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
 
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
 
    -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
 
    -moz-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
	
	position:relative;
	
}

.pricing-sectors-table td:before{

content:"";
display:block;
padding-top:100%;

}

.quad-content{

position:  absolute;
top: 25	%;
left: 0;
bottom: 0;
right: 0;
	
}


.quad-content input{

background-color:transparent;
border:none;
color:white;
text-align:center;
width:100%;
font: 25px Verdana, Geneva, sans-serif;
margin-bottom:33%;
color:inherit;


}

.quad-content input:focus{
outline:none;
}

.red-sector{

	background-color:#EA1D10;

}

.yellow-sector{

	background-color:#F9E822;

}

.yellow-sector input, .yellow-sector .sector-number{
color:black;
}

.orange-sector{

	background-color:#F09201;

}

.vip-sector-d{

	background-color:#BE7712;

}

.vip-sector-a{

	background-color:#AB4631;

}

.navy-sector{

	background-color:#20235B;

}

.blue-sector{

	background-color:#0A8ACB;

}

.green-sector{

	background-color:#006B2F;

}

.grass-sector{

	background-color:#003619;

}

.burgundy-sector{

		background-color:#910919;
	
}

.brown-sector{

	background-color:#570912;

}

.additionalSectorImage{

	width:25%;
	height:25%;
	position:absolute;
	bottom: 6%;
	left:6%;

}

.sector-number{
position:absolute;
top:6%;
left:6%;
font:italic 16px arial;
}
